
/* Esta clase le da al contenedor de el encabezado un color negro con un poco menos de opacidad */

.container-fluid {
    background-color: rgba(0, 0, 0, 0.427);
}

/* Esta clase le da a los iconos le da a los iconos la misma altura y anchura */

#icon1  {
height: 70px;
width: 40px;
margin-left: 2%;
margin-right: 2%;

}


/*  este CSS le da tanto a h1 alineado de texto cómo un color de trasfondo beis. Aparte pone los bordes un 5% redindos y un poco
de padding superior y inferior */

h1 {
    text-align: center;
    background-color: bisque;
    border-radius: 5%;
    padding-top: 1%;
    padding-bottom: 1%;

}

/*  este CSS le da tanto a  h2 tanto alineado de texto cómo un color de trasfondo lila. Aparte pone los bordes un 5% redindos y un poco
de padding superior y inferior */
h2 {
    text-align: center;
    background-color: rgba(137, 43, 226, 0.529);
    border-radius: 5%;
    padding-top: 1%;
    padding-bottom: 1%;

}

/*  este CSS le da tanto a  h3 tanto alineado de texto cómo un color de trasfondo verde. Aparte pone los bordes un 5% redindos y un poco
de padding superior y inferior */

h3 {
    text-align: center;
    background-color: rgb(47, 255, 82);
    border-radius: 5%;
    padding-top: 1%;
    padding-bottom: 1%;

}

/* Esta clase simplemente le añade tanto margen a la izquierda cómo a la derecha de un 20%, para que no esté tan junto y compacto en el diseño  */

.p1 {
    margin-left: 20%;
    margin-right: 20%;

}

/* Esta clase simplemente le añade tanto margen superior 3%, para que no esté tan junto y compacto en el diseño  */

.p2  {
  margin-top: 3%;
}

/* Esto le da a la clase de aficiones alineado de texto y margen tanto en izquierda cómo en derecha del 3%, coge todo el div */
.aficiones {
    text-align: center;
    margin-left: 3%;
    margin-right: 3%;
}

/* Esta clase en vez de coger el div de aficiones sólo coge los párrafos y les da margen de 20% en izquierda y derecha */
.aficiones_p {
    margin-left: 20%;
    margin-right: 20%;
}

/* Esté ID le da al bloque de redes el color de trasfondo de burlywood, un 5% de borde de radio y la altura que se ajuste al contenido */

#redes {
    background-color: burlywood;
    border-radius: 5%;
    height: fit-content;
}

/* Esta clase le da a las images dentro del bloque de cada afición (redes,videojuegos,historia) el mismo tamaño (menos al último que tiene más altura
que los otros dos) */

.img_aficiones {
width: 45%;
height: 30%;
}

/* la  clase de la imagen de videojuego le tuve que decir la altura porque sino se pasaba por la parte inferior de largo */

#img_videojuegos {
    height: 5%;
}

/* Esté ID le da al bloque de videojuegos el color de trasfondo de burlywood, un 5% de borde de radio y la altura que se ajuste al contenido */

#videojuegos {
    background-color: burlywood;
    border-radius: 5%;
    height: fit-content;
}

/* Esté ID le da al bloque de historia el color de trasfondo de burlywood, un 5% de borde de radio y la altura que se ajuste al contenido */

#historia {
    background-color: burlywood;
    border-radius: 5%;
    height: fit-content;
}

/* En la clase de maps, le puse margenes para que no estuviera tan descentrado y también la misma anchura y altura para que todos los maps que
pusiera fueran de la misma medida */
.maps {
    margin-left: 20%;
    margin-right: 10%;
    height: 40%;
    width: 66%;
    align-items: center;
}

/* con esto conseguimos que ocupe la página y también justificando el contenido en el centro */

.div_CV {
    display: flex;
    justify-content: center;
}

/* Mediante esta clase el videocurriculum le damos un borde redondo y le ajustamos la altura a 398 px y la anchura a 707 px */
.CV {
 border-radius: 5%;
 height: 398px;
 width: 707px;

}

/* Con esta clase consigo que el boton de cambiar de idioma se ponga de color verde al pasar por encima */
.dropdown-toggle {
color: rgb(2, 2, 5);
background-color: rgba(0, 238, 16, 0.533);
}

/* con esto le pongo al boton del idioma español el trasfondo de la bandera y que cubra el fondo de su div, también alinear el texto en medio */

#español {
background-image: url(../img/bandera/españa.jpg);
background-size: cover;
color: rgb(255, 255, 255);
text-align: center;
}

/* con esto le pongo al boton del idioma ingles el trasfondo de la bandera y que cubra el fondo de su div, también alinear el texto en medio */

#Ingles {
    background-image: url(../img/bandera/inglaterra.jpeg);
    background-size: cover;
    color: rgb(255, 255, 255);
    text-align: center;
}

/*Esto ajusta el logo de goldenline porque por defecto sale demasiado grande */

#goldenline {
    background-color: black;
    height: 5%;
    width: 5%;
    border-radius: 25%;
}


/*Esto ajusta el logo de goldenline porque por defecto sale demasiado grande */

#bertran {
    background-color: black;
    height: 5%;
    width: 5%;
    border-radius: 25%;
}

/* El footer tiene un trasfondo negro con las palabras en blanco, una altura de 90 px y el texto alineado en el centro */
#footer {
    background-color: black;
    color: aliceblue;
    height: 90px;
    text-align: center;
}