.container-fluid {
    background-color: rgba(0, 0, 0, 0.636);
}

#icon1  {
height: 10%;
width: 10%;

}


.img_nav {
    height: 10%;
    width: 30%;
   padding-top: 10%;
   padding-bottom: 10%;
    
}

h1,h2 {
    text-align: center;
    background-color: bisque;
    border-radius: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    
}

.p1 {
    margin-left: 20%;
    margin-right: 20%;
}

.aficiones {
    text-align: center;
    margin-left: 3%;
    margin-right: 3%;
}
.aficiones_p {
    margin-left: 20%;
    margin-right: 20%;
}


#redes {
    
    background-color: burlywood;
    border-radius: 5%;
    height: fit-content;
} 
.img_aficiones {
width: 45%;
height: 30%;
}


#videojuegos {
    background-color: burlywood;
    border-radius: 5%;
    height: fit-content;
} 

#historia {
    background-color: burlywood;
    border-radius: 5%;
    height: fit-content;
} 